@import "gallery/gallery_general";
@import "../../PontheStyle.scss";

#image-viewer {
  display: flex;
  justify-content: center;
  height: 100vh;
  top: 0;
  left: 0;
  width: 100vw;
  align-items: center;
  position: fixed;
  z-index: 1;
}

.darkbg {
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.25);
  position: fixed;
  z-index: 5000;
}

.wide-pic {
  display: flex;
  margin: auto;
  padding: auto;
  position: fixed;
  z-index: 10000;
  background-color: transparent;
  box-shadow: 0 units(0.5) units(1) 0 rgba(0, 0, 0, 0.2), 0 units(0.75) units(2.5) 0 rgba(0, 0, 0, 0.19);
  align-items: center;
  transition: margin-top 0.5s ease;
}

.wide-pic>img {
  display: block;
  position: relative;
  object-fit: cover;
  transition: height 0.5s ease, width 0.5s ease;
}

.wide-pic>caption {
  display: block;
  text-align: center;
  padding: units(1) units(2);
  position: absolute;
  bottom: 0;
  font-weight: 400;
  color: white;
  font-size: 0.8em;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.wide-pic>#num_photo {
  padding: 0.25em 0.5em;
  position: fixed;
  top: 0;
  font-size: 0.9em;
  line-height: 1.2em;
  height: 1.2em;
  text-transform: none;
  left: 0;
  background: #324167;
  border-radius: units(1.25);
}


#right_arrow,
#left_arrow,
#closer {
  z-index: 10000;
  cursor: pointer;
}

#right_arrow,
#left_arrow {
  position: absolute;
  height: units(7);

  @include sm {
    height: units(5);
  }
}

#right_arrow {
  right: 0;
}

#left_arrow {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  left: 0;
}


/* Action buttons */
#actionsWidePic {
  position: absolute;
  display: flex;
  top: 0;
  right: 0;
  align-items: center;
}

#closer {
  width: units(6.5);
}

#downloadButton {
  color: color(WHITE);
  font-size: units(3.5);
  border: 0;
}