@import "../../PontheStyle.scss";

#contact {
  @include sm {
    padding: 5em 10px 0 10px;
  }

  @media (prefers-color-scheme: dark) {
    background: color(DARK_GREY);
    color: color(WHITE);
  }
}

#contact .box {
  border-radius: $FORM-BORDER-RADIUS;
  box-shadow: $BOX-SHADOW-FORM-BASE $BOX-SHADOW-FORM-SHIFT-BASE;

  @media (prefers-color-scheme: dark) {
    background: color(DARK_GREY);
    color: color(WHITE);
  }

  @include sm {
    padding: 1em;
  }
}

header h2 {
  @include sm {
    font-size: 1.35em;
  }
}

header p {
  @include sm {
    font-size: font-size(LARGE);
    line-height: 1.7em;
    margin: 0.5em 0;
    padding: 0;
  }
}

.main.style3 .content > header {
  @include sm {
    margin-bottom: 1em;
  }
}