@import "../../../PontheStyle.scss";
@import "dashboard/dashboard_general.scss";

.link::before {
    content: "+";
}

input[type="text"] {
    background: color(WHITE);
    color: $INPUT-TEXT-DARK-GREY;
    margin-right: $MARGIN-RIGHT-BUTTON-REMOVE;
    margin-bottom: units(0.5);
    font-weight: 600;
    font-size: font-size(MEDIUM);
    display: inline-block;
}

textarea {
    min-height: 0;
    max-width: 100%;
    margin-bottom: units(3);
}