@import "../../../PontheStyle.scss";
@import "dashboard/dashboard_general.scss";

.subject {
    margin-bottom: units(3);
    padding-bottom: units(1.5);
    border-bottom: 1px solid color(LIGHT_GREY);

    @include sm {
        margin-bottom: units(2);
    }
}

input[type="text"] {
    background: color(WHITE);
    color: $INPUT-TEXT-DARK-GREY;
    max-width: 100%;
    margin-right: $MARGIN-RIGHT-BUTTON-REMOVE;
    margin-bottom: units(0.5);
    font-weight: 600;
    font-size: font-size(MEDIUM);
    display: inline-block;
}

textarea {
    margin-bottom: units(3);
}