@import "gallery/gallery_general";
@import "modals/modal_general";
@import "../../PontheStyle.scss";

button,
#moderation>h1,
#moderation>footer {
  text-transform: none;
}

#moderation {
  top: 35vh;
}

#moderation>h1,
#moderation>footer {
  padding: 0 units(2);
  text-align: center;
  letter-spacing: 0.035em;
}

#moderation>footer {
  padding-top: units(2);
  padding-left: units(4);
  width: calc(100% + 2 * 24px);

  @include sm {
    width: calc(100% - 2 * 8px);
  }
}

.close {
  float: left;
}