@import "gallery/gallery_general";
@import "../../PontheStyle.scss";

.spacer {
  margin-top: 4em;
}

#main {
  height: calc(100vh - 7em);
  width: 100vw;
  background-color: color(HOME_GREY);

  @media (prefers-color-scheme: dark) {
    background-color: color(DARK_GREY);
  }
}

$CONTENT-WIDTH-LARGE: 91vw;
$CONTENT-LEFT-LARGE: 1.5vw;
$CONTENT-MAX-HEIGHT-LARGE: 85vh;
$CONTENT-TOP-LARGE: 8vh;

$CONTENT-TOP-MEDIUM: 8vh;
$CONTENT-WIDTH-MEDIUM: 96vw;
$CONTENT-LEFT-MEDIUM: calc((100vw - #{$CONTENT-WIDTH-MEDIUM}) / 2);
$CONTENT-MAX-HEIGHT-MEDIUM: 75vh;

$CONTENT-TOP-SMALL: 12vh;
$CONTENT-WIDTH-SMALL: 94vw;
$CONTENT-LEFT-SMALL: calc((100vw - #{$CONTENT-WIDTH-SMALL}) / 2);
$CONTENT-MAX-HEIGHT-SMALL: 66vh;

$CONTENT-TOP-SMALL-LANDSCAPE: 14vh;
$CONTENT-WIDTH-SMALL-LANDSCAPE: 92.5vw;
$CONTENT-LEFT-SMALL-LANDSCAPE: 1vw;
$CONTENT-MAX-HEIGHT-SMALL-LANDSCAPE: 73vh;

#video {
  position: absolute;
  width: $CONTENT-WIDTH-LARGE;
  margin: auto;
  top: $CONTENT-TOP-LARGE;
  left: $CONTENT-LEFT-LARGE;
  height: 100vh;
  max-height: $CONTENT-MAX-HEIGHT-LARGE;

  @include sm {
    max-height: $CONTENT-MAX-HEIGHT-SMALL;
    left: $CONTENT-LEFT-SMALL;
    width: $CONTENT-WIDTH-SMALL;
    top: $CONTENT-TOP-SMALL;
  }
  @include sm-landscape {
    max-height: $CONTENT-MAX-HEIGHT-SMALL-LANDSCAPE;
    left: $CONTENT-LEFT-SMALL-LANDSCAPE;
    width: $CONTENT-WIDTH-SMALL-LANDSCAPE;
    top: $CONTENT-TOP-SMALL-LANDSCAPE;
  }
  @include md {
    top: $CONTENT-TOP-MEDIUM;
    max-height: $CONTENT-MAX-HEIGHT-MEDIUM;
    width: $CONTENT-WIDTH-MEDIUM;
    left: $CONTENT-LEFT-MEDIUM;
  }
}

#reactions-videos {
  position: absolute;
  left: $CONTENT-LEFT-LARGE;
  width: $CONTENT-WIDTH-LARGE;
  text-align: center;

  @include sm {
    top: calc(#{$CONTENT-TOP-SMALL} + #{$CONTENT-MAX-HEIGHT-SMALL} + 1vh);
  }
  @include sm-landscape {
    top: 30vh;
    width: 4vw;
    right: 1.5vw;
    left: auto;
  }
  @include md {
    top: calc(#{$CONTENT-TOP-MEDIUM} + #{$CONTENT-MAX-HEIGHT-MEDIUM} + 1vh);
  }
  @include lgAndAbove {
    top: 25vh;
    width: 4vw;
    right: 1.5vw;
    left: auto;
  }
}