<section class="auth is-preload">
  <app-auth-card [title]="'setNewPassword.header.title' | translate">
    <p [innerHTML]="'setNewPassword.header.subtitle' | translate" id="inner-text"></p>

    <!-- Signup Form -->
    <form class="signup-form" [formGroup]="setNewPasswordForm" (ngSubmit)="onSubmitForm()">
      <div id="password">
        <label for="password-input" class="auth password">{{ 'setNewPassword.form.password.label' | translate }}</label>
        <input class="auth password" id="password-input" type="password" name="password"
          formControlName="new_password" />
      </div>
      <div id="confirm-password">
        <label for="confirm-password-input" class="auth confirm-password">{{ 'setNewPassword.form.confirmPassword.label'
          | translate
          }}</label>
        <input id="confirm-password-input" class="auth confirm-password" type="password" name="confirmPassword"
          formControlName="confirmation_password" />
      </div>
      <input id="submit" class="auth" type="submit" [value]="'setNewPassword.form.submitButton' | translate"
        [disabled]="setNewPasswordForm.invalid" />
    </form>
  </app-auth-card>

  <app-alert [visible]="alertUnmatchedVisible" [title]="'setNewPassword.unmatched' | translate"
    (close)="closeUnmatchedAlert()">
  </app-alert>
  <app-alert [visible]="alertSuccessVisible" [title]="'setNewPassword.confirmed' | translate"
    (close)="closeSuccessAlert()">
  </app-alert>
  <app-alert [visible]="alertFailureVisible" [title]="'setNewPassword.failed' | translate"
    (close)="closeFailureAlert()">
  </app-alert>

  <!-- Footer -->
  <app-auth-footer></app-auth-footer>

  <!-- Background animation -->
  <app-auth-bg-slider class="bg"></app-auth-bg-slider>
</section>