@import "../../../PontheStyle.scss";
@import "../../../constants/style/burger.scss";

#header {
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 300;
  font-size: 1.25em;
  color: color(DARK_DARK_GREY);
  letter-spacing: 0.025em;
  position: fixed;
  z-index: 10000;
  left: 0;
  top: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.95);
  height: $NAV-HEIGHT;
  line-height: 3em;
  box-shadow: 0 0 0.5em 0 rgba(0, 0, 0, 0.1);

  @include sm {
    font-size: 1.6em;
    line-height: 1.5em;
  }

  @include sm-landscape {
    height: 2em;
  }

  @media (prefers-color-scheme: dark) {
    background: color(DARK_GREY);
    color: color(WHITE);
  }
}

#header a #logo {
  display: inline-block;
  width: 3.3em;
  position: relative;
  top: 0;
  left: units(1);

  @include sm {
    left: 0;
    top: 0;
  }

  @include sm-landscape {
    width: 2.25em;
    top: 0.3em;
  }
}

#header a {
  height: $NAV-HEIGHT;
  display: flex;

  @include sm {
    padding: units(0.5) 0;
    height: calc(#{$NAV-HEIGHT} - 2 * #{units(0.5)});
  }
}

#header h1 {
  position: absolute;
  left: 3.7em;
  top: 0;
  height: 3em;
  line-height: 3em;
  cursor: default;
  margin-left: 0.2em;
}

#header h1 a {
  font-size: 1.25em;
}

#header h1 a:hover {
  color: color(DARK_GREY);

  @include sm {
    color: color(DARK_DARK_GREY);
  }
}


#header nav {
  position: absolute;
  right: 0.5em;
  top: 0;
  height: $NAV-HEIGHT;
  line-height: 3em;
  font-size: 1.15em;

  @include sm {
    display: flex;
    margin-top: 7.5%;
  }
}

#header nav ul {
  margin: 0;
  height: $NAV-HEIGHT;
  display: flex;
  align-items: center;
  margin-right: units(4.5);
}

app-nav-link {
  display: flex;
}

@media screen and (max-width: 1680px) {
  #header h1 {
    font-size: 1.1em;
  }

  #header h1 a {
    font-size: 1.15em;
  }
}

@media screen and (max-width: 1000px) {
  #header h1 {
    font-size: 1.1em;
  }

  #header h1 a {
    font-size: 1.05em;
  }
}

#header h1 {
  @include sm {
    text-align: center;
    position: absolute;
    top: 0;
    height: $NAV-HEIGHT;
    line-height: $NAV-HEIGHT;
    width: 33vw;
    margin: auto;
    left: 0;
    right: 0;
  }
  @include sm-landscape {
    top: -0.35em;
    height: 2em;
  }
}

#header h1 a {
  @include sm {
    font-size: 1em;
    width: 40vw;
    left: 0;
    height: $NAV-HEIGHT;
    padding: 0;
  }
  @include sm-landscape {
    font-size: 0.85em;
    height: 2.5em;
  }
}
#header a {
  @include sm {
    top: 0;
    width: auto;
    position: absolute;
    z-index: 2;
    left: units(0.5);
  }
}
#header a:hover {
  @include sm {
    text-decoration: none;
  }
}

#header-mobile {
  @include sm {
    font-family: "Source Sans Pro", "sans-serif";
    font-weight: 300;
    font-size: 1.5em;
    letter-spacing: 0.025em;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    line-height: $NAV-HEIGHT;
    visibility: collapse;
    color: color(DARK_DARK_GREY);
    text-shadow: none;
    overflow: auto;
    z-index: 5;
    transition: background 0.3s ease-in-out;

    @media (prefers-color-scheme: dark) {
      background: color(DARK_GREY);
      color: color(WHITE);
    }
  }

}

#header-mobile ul {
  @include sm {
    padding: 0 units(3);
    padding-top: $NAV-HEIGHT;
  }
  @include sm-landscape {
    padding-left: units(11);
    padding-right: units(11);
    padding-top: units(7);
    margin-bottom: 0.5em;
  }
}

.visible_menu {
  @include sm {
    background: color(WHITE);
    height: 100vh;
    width: 100vw;
    visibility: visible !important;
  }
}

#burger_menu {
  @include sm {
    visibility: visible;
    position: fixed;
    top: 0;
    right: units(1);
    height: $NAV-HEIGHT;
    padding: 0 units(1.5);
  }
  @include sm-landscape {
    top: 0;
  }
}

@media screen and (max-width: 1680px) {
  #header-mobile h1 {
    font-size: 1.1em;
  }

  #header-mobile h1 a {
    font-size: 1.15em;
  }
}

@media screen and (max-width: 1000px) {
  #header-mobile h1 {
    font-size: 1.1em;
  }

  #header-mobile h1 a {
    font-size: 1.05em;
  }
}

#languages {
  top: units(2.5);
  right: units(0.5);
  position: absolute;
}