@import "auth/auth_general";
@import "../../PontheStyle.scss";

#inner-text {
	margin-bottom: units(2.5);
}

form {
	margin: 0;
	display: grid !important;
  	grid-gap: units(1.25) units(2);

	@include sm {
		grid-gap: units(1);
	}
}

.signup-form {
	margin: 0;
	display: grid !important;
	align-items: end;
	grid-template-rows: repeat(1, 1fr);
}
.signup-form > * {
	margin: 0;
}

#email {
	grid-column: 1;
  	grid-row: 1;
}

.label-email {
	margin-bottom: units(0.5);
}

#submit {
	height: units(6);
	grid-column: 2;
  	grid-row: 1;
	margin: 0;
	
	@include sm {
		grid-column: 1;
		grid-row: 2;
		font-size: 14px !important;
	}
}

#auth-card {
	@include lg {
		width: 20vw;
	}
}
