@import url("../../../../assets/assets_h/css/main.css");
@import "../../../PontheStyle.scss";

.admin_form {
	padding: 2vh 2vw 2vh 2vw;
	background: $DASHBOARD-FORM-BACKGROUND;
	border-radius: $DASHBOARD-FORM-BORDER-RADIUS;
  	margin-bottom: 2vh;
	box-shadow: $DASHBOARD-FORM-BOX-SHADOW $DASHBOARD-FORM-BOX-SHADOW-SHIFT-BASE;

	@media (prefers-color-scheme: dark) {
		background: color(DARK_GREY);
	}
}

h3 {
	text-align: left;
	font-size: 1.25em;
	margin-bottom: 2vh;
	color: color(DARK_DARK_GREY);

	@include sm {
		font-size: 1.15em;
	}

	@media (prefers-color-scheme: dark) {
		color: color(WHITE);
	}
}

h3:hover {
	text-decoration: underline;
	cursor: pointer;
}

label {
	@media (prefers-color-scheme: dark) {
		background: color(DARK_GREY);
		color: color(WHITE);
	}
}
