@import "../../app/PontheStyle.scss";

#intro {
    margin-top: $NAV-HEIGHT;
    height : calc(100vh - #{$NAV-HEIGHT});
    background: $INTRO-IMAGE;
    @include background-size((256px 256px, cover));
    background-attachment: fixed, fixed;
    background-position: top left, bottom center;
    background-repeat: repeat, no-repeat;

    @include sm {
        padding: 0 units(1);
    }
}