<!-- Header, displayed on the bottom -->
<div id="header" id="event-panel">
  <h1>
    <a [routerLink]="getFooterTitleRedirection()" [attr.aria-label]="nameEvent"><strong>{{ nameEvent }}</strong></a>
  </h1>
  <nav>
    <ul>
      <li *ngIf="!breakpointsService.isMobile"><a (click)="downloadArchive()" id="download-button"
          class="icon-gallery fa fa-download fa-2x" aria-label="download button"></a>
      </li>
      <li (click)="changeStateFooter()"><a class="icon-gallery" id="menu-button"
          [attr.aria-label]="'galeries.footer.title' | translate">{{
          'galeries.footer.title' | translate }}</a></li>
    </ul>
  </nav>
</div>

<!-- Footer, revealed when clicking on "A propos de l'album" -->
<div id="gallery-footer" class="panel" [@footerTrigger]="footerState">
  <div class="inner split">

    <!-- General information on the album -->
    <div>
      <section>
        <h2>{{ nameEvent }}</h2>
        <p>{{ resumeEvent }}</p>
      </section>
      <section>
        <h2>{{ 'galeries.about.title' | translate }}</h2>
        <ul class="icons">
          <li *ngFor="let link of links">
            <a href="{{ link.href }}" class="icon {{ link.class }}" [attr.aria-label]="link.name">
              <span class="label">{{ link.name }}</span>
            </a>
          </li>
        </ul>
      </section>
      <p class="copyright">
        &copy; {{ 'galeries.about.copyright' | translate }}
      </p>
    </div>

    <!-- Contact form -->
    <app-galeries-contact-form></app-galeries-contact-form>
  </div>
</div>