@import "../../../PontheStyle.scss";

$SIZE-ICONS: units(4.5);
$SIZE-ICONS-MOBILE: units(4);

$MARGIN-FROM-CORNER: units(1);
$MARGIN-ICONS: units(0.5);

#single-icon,
#reactions {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    border-radius: units(1);
}

#reactions {
    background: color(WHITE);
    margin-top: calc(#{$MARGIN-FROM-CORNER} - #{$MARGIN-ICONS});
    margin-left: calc(#{$MARGIN-FROM-CORNER} - #{$MARGIN-ICONS});
}

#single-icon {
    margin-top: $MARGIN-FROM-CORNER;
    margin-left: $MARGIN-FROM-CORNER;
}

.reaction-icon,
.small-reaction {
    height: $SIZE-ICONS;
    width: $SIZE-ICONS;
    display: inline-block;
    margin: $MARGIN-ICONS;

    @include sm {
        height: $SIZE-ICONS-MOBILE;
        width: $SIZE-ICONS-MOBILE;
        margin: units(0.25);
    }
}

.small-reaction {
    height: calc(#{$SIZE-ICONS} + units(1));
    width: calc(#{$SIZE-ICONS} + units(1));

    @include sm {
        height: $SIZE-ICONS-MOBILE;
        width: $SIZE-ICONS-MOBILE;
    }
}

h4 {
    @include font-size(LARGE);
    font-weight: bold;
    text-align: center;

    @include sm-landscape {
        display: none;
    }

    @media (prefers-color-scheme: dark) {
        color: color(WHITE);
    }
}