@import "../../../PontheStyle.scss";
@import "dashboard/dashboard_general.scss";

$MARGIN-RIGHT-BUTTON-REMOVE: units(1);


input[type="submit"] {
  margin-top: units(1);
}

input[type="text"] {
  color: $INPUT-TEXT-DARK-GREY;
  width: calc(100% - #{$BUTTON-SIZE} - #{$MARGIN-RIGHT-BUTTON-REMOVE} - 2 * #{units(2)});
  margin-right: $MARGIN-RIGHT-BUTTON-REMOVE;
  margin-bottom: units(0.5);
  font-weight: 600;
  font-size: font-size(MEDIUM);
  display: inline-block;
}


h2 {
  color: color(DARK_GREY);
  text-align: left;
  margin-bottom: units(1);
  overflow: hidden;
  text-transform: inherit;
  padding-left: units(1);
  padding-right: units(1);
  padding-top: units(2);
  margin-top: 0;
  border-top: 1px solid color(LIGHT_GREY);
  font-size: 2em !important;

  @include sm {
    font-size: font-size(XLARGE) !important;
  }
}

.add_button,
.addTeam_button {
  width: 60%;
  border-radius: units(1.5);
  font-weight: 600;
  letter-spacing: 0.025em;
  font-size: font-size(MEDIUM);
}

.addTeam_button {
  background-color: color(DARK) !important;
  color: color(WHITE) !important;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.addTeam_button:hover {
  background-color: color(LIGHT_GREY) !important;
  color: color(DARK) !important;
}