@import "../../PontheStyle.scss";
@import "home/home_intro";

$ARTICLE-BOX-RADIUS: units(2.5);
$GALLERY-PICS-MARGIN: units(1);

/* Intro */
#intro header {
	@include sm {
		margin-top: 1em;
	}
}

#intro>.content {
	transition: opacity 0.35s ease;
}

#intro-hovered {
	opacity: 1;
}

#intro-none {
	opacity: 0;
}

/* 3 Last events */
#latest-events {
	background: color(HOME_GREY);

	@media (prefers-color-scheme: dark) {
		background: color(DARK_GREY);
	}
}

#one,
#two,
#three {
	height: 100vh;
	background-attachment: fixed, fixed;
	background-position: top left, center center;

	@include sm {
		background-position: center center, center center;
	}
}

#loading-events {
	padding-top: units(3);
	padding-bottom: units(3);
	background: color(HOME_GREY);

	@media (prefers-color-scheme: dark) {
		background: color(DARK_GREY);
	}
}

#no-gallery {
	width: 90vw;
	padding-left: 10vw;
	padding-top: units(5);
	font-family: "Source Sans Pro";
	font-weight: 600;
	text-transform: inherit;
	text-align: center;
	@include font-size(XXLARGE);
	@include color(DARK_DARK_GREY);

	@media (prefers-color-scheme: dark) {
		background: color(DARK_GREY);
		color: color(WHITE);
	}
}

/* Contact form */
#contact {
	@media (prefers-color-scheme: dark) {
		background: color(DARK_GREY);
		color: color(WHITE);
	}
}

#contact>.content>#home-form-hidden {
	opacity: 1;
	transform: none;
}

#contact>.content>#home-form-hidden {
	opacity: 0;
	transform: translateY(75vh);
}

#contact header {
	@include sm {
		margin-bottom: 0.5em;
	}
}

#contact p {
	@include sm {
		line-height: 1.5em;
		font-size: font-size(LARGE);
		margin-top: 0.5em;
	}
}

.right>.box {
	right: -20px;

	@include sm {
		right: 0;
	}
}

.left>.box {
	left: -20px;

	@include sm {
		left: 0;
	}
}

.content .box .style2 {
	width: 34%;
}

.box {
	border-radius: $ARTICLE-BOX-RADIUS;
}

.darkbg {
	@include fullscreen;
	background-color: overlay(HOME);
	z-index: 5000;
}

#contact .box {
	border-radius: $FORM-BORDER-RADIUS;
	box-shadow: $BOX-SHADOW-FORM-BASE $BOX-SHADOW-FORM-SHIFT-BASE;

	@media (prefers-color-scheme: dark) {
		background: color(DARK_GREY);
		color: color(WHITE);
	}
}

.main.style3 {
	padding: 3em 0 6em 0;
}