@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900");
@import url("../../../assets/assets_g/css/main.css");
@import "../../PontheStyle.scss";

$NAV-HEIGHT: units(8);

body {
	background: color(DARK_GREY);
}

.spacer {
  margin-top: $NAV-HEIGHT;
}

#main {
	min-height: calc(100vh - #{$NAV-HEIGHT});
}

article {
    max-height: calc(100vh - #{$NAV-HEIGHT});
    overflow: hidden;
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    vertical-align: middle;
    transition: opacity 0.3s ease-in-out;
    width: 100vw;
    height: calc(50vh - #{$NAV-HEIGHT} / 2);
    opacity: 1;
    display: flex;
    align-items: center;

    @include lg {
        opacity: 0.5;
        width: 50vw;
        height: calc(100vh - #{$NAV-HEIGHT} / 2);
    }
}
article:hover {
    opacity: 1;
    cursor: pointer;
}
@each $type, $image in $VESTIBULE-IMAGES {
    #article_#{$type} {
        background-image: $image;
    }
}


h2 {
    position: relative;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: units(8);
    font-family: "Source Sans Pro";
    letter-spacing: 0.15em;
    transition: font-size 0.3s ease, letter-spacing 0.3s ease;
    margin: 0;

    @include sm {
        font-size: units(5);
        letter-spacing: 0.02em;
    }
    @include md {
        font-size: units(6);
        letter-spacing: 0.05em;
    }
}
article:hover h2 {
    font-size: units(9);
    letter-spacing: 0.05em;
}