@import "../../../PontheStyle.scss";

li {
  display: inline-block;
  margin-left: 0.5em;
  font-size: 0.9em;
}

li a {
  display: block;
  color: inherit;
  text-decoration: none;
  line-height: $NAV-HEIGHT;
  margin: 0 0.5em;
  outline: 0;
  height: calc(#{$NAV-HEIGHT} - #{$NAV-BORDER-BOTTOM-HOVER});
  border-bottom: $NAV-BORDER-BOTTOM-HOVER color(TRANSPARENT) solid;
  transition: border-bottom 0.15s ease;

  @include sm {
    margin: 0;
  }

  @media (prefers-color-scheme: dark) {
    color: color(WHITE);
  }
}
li a:hover {
  border-bottom: $NAV-BORDER-BOTTOM-HOVER color(DARK_GREY) solid;

  @media (prefers-color-scheme: dark) {
    border-bottom: $NAV-BORDER-BOTTOM-HOVER color(WHITE) solid;
  }
}

.svg_links {
  height: 1.75em;
  margin-left: 3vw;
}

@media screen and (max-width: 1680px) {
	li {
		margin-left: 0;
		font-size: 0.875em;
	}
}

@media screen and (max-width: 800px) {
	li {
		font-size: 0.7em;
	}
}

li {
  @include sm {
    display: flex;
    height: $NAV-MOBILE-TAB-HEIGHT;
    padding-top: units(1.5);
    padding-bottom: units(1.5);
    border-bottom: 1px solid #c3c3c3;
    width: 100%;
  }
}

li a {
  @include sm {
    height: units(8);
    width: calc(100vw - 2 * #{units(2)});
    height: 100% !important;
    padding: 0;
  }
}

img {
  @include sm {
    border-radius: units(1);
  }
}

.mobile-a {
  display: flex !important;
  flex-direction: row;
  height: units(4) !important;
  @include font-size(XLARGE)
}

.mobile-a img {
  margin: 0;
  margin-right: units(1.5);
  height: 100%;
  width: 23vw;

  @include sm-landscape {
    width: 16vw;
    margin-right: units(3);
  }
}

.mobile-a h3 {
  letter-spacing: -0.025em;
  line-height: $NAV-MOBILE-TAB-HEIGHT;
}

.subnav {
  position: absolute;
  top: $NAV-HEIGHT;
  background: rgba(255, 255, 255, 0.95);
  padding: 0 units(1) units(1) units(1);
  border-radius: 0 0 units(1) units(1);
  transform: translateY(-50vh);

  @media (prefers-color-scheme: dark) {
    background: color(DARK_GREY)
  }
}

.hovered.subnav {
  transform: translateY(0vh);
}

.subnav:empty {
  display: none;
}

.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}