@import "auth/auth_general";
@import "../../../PontheStyle.scss";

$MAX-WIDTH-CARD-MOBILE: 75vw;
$MAX-WIDTH-CARD-TABLET: 60vw;
$MAX-WIDTH-CARD-DESKTOP: 50vw;

#auth-card {
	padding: units(5);
	border-radius: units(5);
	width: max-content;
	margin: auto;
	transition: background 0.5s ease, box-shadow 0.5s ease !important;

	@include sm {
		padding: units(3);
		border-radius: units(3);
	}
}

#auth-card:hover {
	background: color(WHITE);
	box-shadow: $BOX-SHADOW-CARD;
}

/* Header */
#header,
form {
	margin: 0;
	max-width: $MAX-WIDTH-CARD-DESKTOP !important;

	@include sm {
		max-width: $MAX-WIDTH-CARD-MOBILE !important;
	}

	@include md {
		max-width: $MAX-WIDTH-CARD-TABLET !important;
	}
}

#header h1 {
	color: color(YELLOW);
	text-shadow: $AUTH-TEXT-SHADOW;
	font-size: 3em;
	margin: 0 0 0.25em 0;
}

#header p {
	font-size: 1.35em;
	line-height: 1.65em;
}

#header a {
	color: inherit;
}

@media screen and (max-width: 736px) {
	#header h1 {
		font-size: 1.5em;
	}

	#header p {
		font-size: 1em;
	}
}

input,
select {
	box-shadow: $BOX-SHADOW-INPUT-BASE $BOX-SHADOW-INPUT-SHIFT-NONE;
	width: 100% !important;

	@include sm {
		font-size: font-size(MEDIUM) !important;
	}
}

input:focus,
select:focus {
	box-shadow: $BOX-SHADOW-INPUT-BASE $BOX-SHADOW-INPUT-SHIFT-FOCUS;
}

label {
	transition: color 0.5s ease;
	font-size: font-size(MEDIUM) !important;
}

#auth-card:hover label {
	color: color(DARK_DARK_GREY) !important;
}

p {
	transition: color 0.5s ease;
	line-height: 1.5em;
	font-size: 1.25em !important;
	max-width: $MAX-WIDTH-CARD-DESKTOP !important;

	@include sm {
		max-width: $MAX-WIDTH-CARD-MOBILE !important;
	}

	@include md {
		max-width: $MAX-WIDTH-CARD-TABLET !important;
	}
}

a {
	color: color(YELLOW) !important;
}

input[type="password"],
input[type="email"],
input[type="text"],
select {
	color: rgba(255, 255, 255, 0.75);
	font-size: font-size(MEDIUM) !important;
	font-weight: 400;
	letter-spacing: -0.01em;
	line-height: 1.65em;
	transition: color 0.5s ease;
}

input[type="text"] {
	width: units(30);
}

input[type="submit"] {
	background: $BUTTON-BACKGROUND-GRADIENT-YELLOWER !important;

	@include sm {
		margin: 0 !important;
	}
}

select {
	display: inline-block !important;
	height: 59px;
}

#auth-card:hover input[type="password"],
#auth-card:hover input[type="email"],
#auth-card:hover input[type="text"],
#auth-card:hover select,
a {
	transition: color 0.5s ease;
	color: color(DARK_DARK_GREY) !important;
}

#auth-card:hover p,
#auth-card:hover #email p,
#auth-card:hover q {
	color: color(DARK_DARK_GREY) !important;
}

input[type="password"]:focus,
input[type="email"]:focus,
input[type="text"]:focus,
select:focus {
	background: rgba(0, 0, 0, 0.1) !important;
}

input[type="password"]::placeholder,
input[type="email"]::placeholder,
input[type="text"]::placeholder {
	transition: color 0.5s ease;
}

#auth-card:hover input[type="password"]::placeholder,
#auth-card:hover input[type="email"]::placeholder,
#auth-card:hover input[type="text"]::placeholder {
	color: rgba(57, 69, 75, 0.5) !important;
}

@import "auth/auth_input";