/* Form */

label.auth {
	color: #fff;
	display: block;
	font-size: 0.9em;
	font-weight: 700;
	margin: 0 0 1em 0;
}

@-moz-keyframes focus {
	0% {
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-moz-transform: scale(1.025);
		-webkit-transform: scale(1.025);
		-ms-transform: scale(1.025);
		transform: scale(1.025);
	}

	100% {
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

@-webkit-keyframes focus {
	0% {
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-moz-transform: scale(1.025);
		-webkit-transform: scale(1.025);
		-ms-transform: scale(1.025);
		transform: scale(1.025);
	}

	100% {
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

@-ms-keyframes focus {
	0% {
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-moz-transform: scale(1.025);
		-webkit-transform: scale(1.025);
		-ms-transform: scale(1.025);
		transform: scale(1.025);
	}

	100% {
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

@keyframes focus {
	0% {
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	50% {
		-moz-transform: scale(1.025);
		-webkit-transform: scale(1.025);
		-ms-transform: scale(1.025);
		transform: scale(1.025);
	}

	100% {
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}
}

input[type="text"].auth,
input[type="password"].auth,
input[type="email"].auth,
select.auth,
textarea.auth {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transform: scale(1);
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	-moz-transition: border-color 0.2s ease, background-color 0.2s ease;
	-webkit-transition: border-color 0.2s ease, background-color 0.2s ease;
	-ms-transition: border-color 0.2s ease, background-color 0.2s ease;
	transition: border-color 0.2s ease, background-color 0.2s ease;
	background-color: transparent;
	border-radius: 6px;
	border: none;
	border: solid 2px rgba(255, 255, 255, 0.35);
	color: inherit;
	display: block;
	outline: 0;
	padding: 0 1em;
	text-decoration: none;
	width: 100%;
}

input[type="text"].auth:invalid,
input[type="password"].auth:invalid,
input[type="email"].auth:invalid,
select.auth:invalid,
textarea.auth:invalid {
	box-shadow: none;
}

input[type="text"].auth:focus,
input[type="password"].auth:focus,
input[type="email"].auth:focus,
select.auth:focus,
textarea.auth:focus {
	-moz-animation: focus 0.1s;
	-webkit-animation: focus 0.1s;
	-ms-animation: focus 0.1s;
	animation: focus 0.1s;
	background-color: rgba(255, 204, 51, 0.5);
	border-color: #fc3;
}

select.auth {
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='rgba(255, 255, 255, 0.35)' /%3E%3C/svg%3E");
	background-size: 1.25rem;
	background-repeat: no-repeat;
	background-position: calc(100% - 1rem) center;
	height: 2.75em;
	padding-right: 2.75em;
	text-overflow: ellipsis;
}

select.auth option {
	color: #fff;
	background: #000;
}

select.auth:focus::-ms-value {
	background-color: transparent;
}

select.auth::-ms-expand {
	display: none;
}

input[type="text"].auth,
input[type="password"].auth,
input[type="email"].auth,
select.auth {
	height: 2.75em;
}

textarea.auth {
	padding: 0.75em 1em;
}

::-webkit-input-placeholder {
	color: rgba(255, 255, 255, 0.5) !important;
	opacity: 1.0;
}

:-moz-placeholder {
	color: rgba(255, 255, 255, 0.5) !important;
	opacity: 1.0;
}

::-moz-placeholder {
	color: rgba(255, 255, 255, 0.5) !important;
	opacity: 1.0;
}

:-ms-input-placeholder {
	color: rgba(255, 255, 255, 0.5) !important;
	opacity: 1.0;
}

/* Button */

input[type="submit"].auth,
input[type="reset"].auth,
input[type="button"].auth,
button,
.button {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
	-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
	background-color: #fc3;
	border-radius: 6px;
	border: 0;
	color: #ffffff !important;
	cursor: pointer;
	display: inline-block;
	font-weight: 700;
	height: 2.75em;
	line-height: 2.75em;
	padding: 0 1.125em;
	text-align: center;
	text-decoration: none;
	white-space: nowrap;
}

input[type="submit"].auth:hover,
input[type="reset"].auth:hover,
input[type="button"].auth:hover,
button:hover,
.button:hover {
	background-color: #ffd558;
}

input[type="submit"].auth:active,
input[type="reset"].auth:active,
input[type="button"].auth:active,
button:active,
.button:active {
	background-color: #ffde7b;
}

input[type="submit"].auth.disabled, input[type="submit"].auth:disabled,
input[type="reset"].auth.disabled,
input[type="reset"].auth:disabled,
input[type="button"].auth.disabled,
input[type="button"].auth:disabled,
button.auth.disabled,
button.auth:disabled,
.button.auth.disabled,
.button.auth:disabled {
	opacity: 0.5;
}

@media screen and (max-width: 480px) {

	input[type="submit"].auth,
	input[type="reset"].auth,
	input[type="button"].auth,
	button.auth,
	.button.auth {
		padding: 0;
	}

}
