@import url("../../../assets/assets_h/css/main.css");
@import "../../PontheStyle.scss";

$INTRO-MARGIN-TOP-LARGE: 3em;
$INTRO-MARGIN-TOP-MOBILE: 4em;
$NUMBER-TABS: 2;


/* Top tabs */
#window_selection {
	display: flex;
	position: absolute;
	z-index: 1;
	border-bottom: 1px solid color(WHITE);

	@media (prefers-color-scheme: dark) {
		border-bottom: 1px solid color(DARK_GREY);
	}
}

.window_tab, .window_tab_selected {
	width: calc(100vw / #{$NUMBER-TABS});
	text-align: center;
	font-size: font-size(LARGE);
	font-weight: 600;
	height: units(4.5);
	line-height: units(4);
	transition: background ease 0.2s, color ease 0.2s, border-radius ease 0.15s;
}
.window_tab:hover, .window_tab_selected:hover {
	cursor: pointer;
}

.window_tab {
	background: none;
	color: color(WHITE);
}
.window_tab_selected {
	background: color(WHITE);
	color: color(DARK);
	border-radius: 0 0 units(2) units(2);

	@media (prefers-color-scheme: dark) {
		background: color(DARK_GREY);
		color: color(WHITE);
	}
}


/* Intro */
#intro {
	margin-top : $INTRO-MARGIN-TOP-LARGE;
	height : calc(100vh - #{$INTRO-MARGIN-TOP-LARGE});
	background: $INTRO-IMAGE;
	background-size: 256px 256px, cover;
	background-attachment: fixed, fixed;
	background-position: top left, bottom center;
	background-repeat: repeat, no-repeat;

	@include sm {
		margin-top: $INTRO-MARGIN-TOP-MOBILE;
		height: calc(130vh - #{$INTRO-MARGIN-TOP-MOBILE} - 2 * #{units(12)});
	}
}

#admin_area {
	position: absolute;
	top: 10vh;
	width: 90vw;
}

#intro #admin_header {
	margin-bottom: 5vh;
}

#col_admin_1, #col_admin_2 {
	display: inline-block;
	width: 40vw;
	vertical-align: top;
}

#col_admin_1 {
	margin-right: 2.5vw;

	@include sm {
		width: 90vw;
		margin-bottom: 1em;
	}
}

#col_admin_2 {
	margin-left: 2.5vw;

	@include sm {
		width: 60vw;
		margin-left: 0;
		margin-bottom: 5vh;
	}
}

#col_admin_2 button {
	margin-bottom: 3vh;

	@include sm {
		width: 100%;
	}
}

#col_admin_2 a {
	margin-right: 2vw;
}

#col_admin_2 a:hover {
	color: color(YELLOW);
}

button {
  background: $BUTTON-BACKGROUND-GRADIENT;
}

#tutos {
	width: 20vw;
	font-weight: bold;
	background: color(WHITE);
	color: color(DARK_DARK_GREY);
	padding: units(0.5);
	transition: border 0.2s ease, box-shadow 0.2s ease, padding 0.2s ease;

	@media (prefers-color-scheme: dark) {
		background: color(DARK_GREY);
		color: color(WHITE);
	}
}
#tutos:hover {
	border: units(0.5) solid color(DARK_DARK_GREY);
	padding: 0;
	box-shadow: box-shadow-light(LARGE);
}

#moderation_button {
	width: 20vw;
	font-weight: bold;
}

#private_galleries_title {
	position: absolute;
	top: 12vh;
	left: 0;
	width: 100vw;
	font-size: 3.5em;

	@include sm {
		font-size: 2.5em;
	}
}

.main.style1 h2 {
	@include sm {
		font-size: 2.5em;
	}
}

#privateGalleries {
	position: absolute;
	left: 0;
	top: 22.5vh;
}
