@import "gallery/gallery_general";
@import "../../PontheStyle.scss";

body {
	background: color(DARK_GREY);
}

.spacer {
	margin-top: $NAV-HEIGHT;
}

#main {
	min-height: calc(100vh - #{$NAV-HEIGHT});
}

#reload-boundary {
	width: 100vw;
	padding: units(10);
	background: color(DARK_GREY);
}

#no-gallery {
	width: 90vw;
	margin-left: 5vw;
	margin-top: $NAV-HEIGHT;
	font-family: "Source Sans Pro";
	font-weight: 400;
	text-transform: inherit;
	@include font-size(XLARGE);
}